{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Treść strony wzięta z mojej własnej strony https://mattkrupa.net/, ale kod oczywiście napisany od początku-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="I make ambient, electronic, acoustic and sometimes alternative music. Playing guitar, bass and piano (and some other funny instruments). ">
        <meta property="og:image" content="https://mattkrupa.net/static/images/seoabout.jpg">
        <meta property="og:type" content="website" />
        <title>Who is Matt?</title>
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <!--Czcionki-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!--CSS Projektu-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    </head>
    <body id="page-top">

        <!-- Nawigacja-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'images/logo.png' %}" alt="Matt Krupa Logo" class="navbar-logo">
                </a>
                <div class="language-selector ms-auto">
                    <img src="{% static 'images/uk.png' %}" alt="English" id="lang-en">
                    <img src="{% static 'images/pl.png' %}" alt="Polski" id="lang-pl">
                </div>
            </div>
        </nav>

        <!-- Nagłówek -->
        <header class="who masthead"> <!--Ustawienie zdjęcia na tło w CSS z gradientem-->
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center"> <!-- Klasy odpowiedzialne za odpowiednie ustawienie napisów i marginesów-->
                <div class="d-flex justify-content-center"> <!-- Wyśrodkowanie contentu-->
                    <div class="text-center"> <!--Tytułowy baner-->
                        <h1 class="mx-auto my-0 text-uppercase" data-translate="whotitle">Who is Matt?</h1>
                    </div>
                </div>
            </div>
        </header>

        <!-- Rozwinięcie na temat matta-->
        <section class="projects-section bg-black text-white text-left" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6"> <!-- Zmiana szerokości na 6/12 -->
                        <p class="text-white" data-translate="who1">
                            Hello again! My name is Matthew Krupa, born and living in Poland. My journey with music started when I was 14. Around that time I asked my brother to teach me how to play a guitar
                            because I really liked playing Guitar Hero back then. He convince me that learning bass guitar would be easier, so that's how I started playing on that.
                        </p>
                        <p class="text-white" data-translate="who2">
                            Only half a year later I would join a church band in my town with my poor bass skills, but they were nice to me. That's where I would learn playing by ear (because I had hardly ever received notes).
                            That is also where I would meet my future wife (Natalie), because she had joined around the same time with her beautiful voice and acoustic guitar skills. After few years we would become leaders of the band together.
                        </p>
                        <p class="text-white" data-translate="who3">
                            While playing at the church band, Natalie would teach me the basics of acoustic guitar. Also in the meantime I would start getting interested in home studio recording. Natalie would send me some 
                            covers she recorded with her old laptop and I would record some bass to it (that's how first Saturn was created). After some time I tried moving from recoding the bass in Audacity to recording it in a 
                            software I had already own called 'Music Maker'. It wasn't best but could do much more with it. 
                        </p>
                        <p class="text-white" data-translate="who4">
                            I tried to record something on my own is this weird software. I took my sisters piano that she didn't used, but almost broke my fingers trying to play it for the first time (so I glued single notes into chords in the software lol).
                            Took my bass and tried to mixed it into sounding like a guitar and that's how my first cover 'Birds' was created (it is trash, don't listen to it). I knew it wasn't perfect, that's why I didn't want to
                            release it back then. Then I tried making and acoustic cover of a metal song (Can You Hear Me) and that's when I was finally proud of my work and decided to release it in 2020. 
                        </p>
                        <p class="text-white" data-translate="who5">
                            After making more covers and uploading them to YouTube in 2020, I've bought a MIDI controller in September and with it came a version of Ableton! I've decided that I want
                            to try composing for real, like I would be making an album! Took my piano, acoustic bass and the controller, and composed 7 tracks that were later called In The Autumn Forest!
                            From the beggining my biggest inspiration was C418's music.
                        </p>
                        <p class="text-white" data-translate="who6">
                            In 2021 I've begun my work on the Nordic Countries albums. I wanted to do something better, with more melody and better mix. In the same year I have started doing the second volume of Covers, which
                            I knew I would be making with Natalie, knowing how well the Saturn track performed at the first volume. That is also a year I started a band called Blooming Cactus, where I wanted to make some more heavier
                            music. So yeah, I started everything at once thats why the Nordic Countries came out in 2022, Blooming Cactus in 2023 and Covers, Vol. 2 in 2024. In the meantime I got married to Natalie.
                        </p>
                        <p class="text-white" data-translate="who7">
                            In 2023, after my work with Blooming Cactus was done, I started making more electronic music remixing my deleted content or creating a new one. That's when first 3 'Cats' were created. Also after 
                            releasing our Blooming Cactus album we've dicided to split up, because it was hard to meet with our diffrent lifes and licing in completly diffrent cities. In the end of this year I joined a 
                            C418 Community, where I could take part in remixing Minecraft: Volume Beta. In here we are in 2024 now, I have released Covers, Vol. 2 two weeks ago and now I'm thinking: ,,What's next?"".
                        </p>
                    </div>
                    <div class="col-lg-6"> <!-- Zmiana szerokości na 6/12 i galeria hihi-->
                        <div class="photo-gallery">
                            <img src="{% static 'images/photo1.jpg' %}" alt="Opis zdjęcia 1" class="img-fluid mb-4">
                            <p class="text-white" data-translate="photo1">Me playing in the sky</p>
                            
                            <img src="{% static 'images/photo2.jpg' %}" alt="Opis zdjęcia 2" class="img-fluid mb-4">
                            <p class="text-white" data-translate="photo2">Me playing hard-rock with Blooming Cactus on a wedding.</p>
                            
                            <img src="{% static 'images/photo3.jpg' %}" alt="Opis zdjęcia 3" class="img-fluid mb-4">
                            <p class="text-white" data-translate="photo3">Me with the Beatroots (my live band) playing on KUL.</p>
                            
                            <img src="{% static 'images/photo4.jpg' %}" alt="Opis zdjęcia 4" class="img-fluid mb-4">
                            <p class="text-white" data-translate="photo4">Me with the Beatroots playing on UMCS.</p>
                        </div>                
                    </div>
                </div>
                <a class="btn btn-main" href="{% url 'home' %}" data-translate="backbtn">Go back to the front page</a> <!--Odnośnik do strony głównej-->
            </div>
        </section>

        <!--Socjale-->
        <div class="contact-section bg-black">
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="https://www.youtube.com/channel/UCGIB3mFHUD2Fh-MthueSbXQ"><i class="fab fa-youtube"></i></a> <!--Klasa z ikonkami z biblioteki bootsrapa-->
                    <a class="mx-2" href="https://www.facebook.com/mattkrupamusic"><i class="fab fa-facebook-f"></i></a>
                    <a class="mx-2" href="https://www.instagram.com/matt.krupa.music/"><i class="fab fa-instagram"></i></a>
                    <a class="mx-2" href="https://mattkrupa.bandcamp.com/"><i class="fab fa-bandcamp"></i></a>
                    <a class="mx-2" href="https://open.spotify.com/artist/0hduI8doHSaCxLeb2s9t08?si=rYerSEUySua6srCSQNYbeA&nd=1&dlsi=7c1b7838f394433f"><i class="fab fa-spotify"></i></a>
                    <a class="mx-2" href="https://music.apple.com/gb/artist/matt-krupa/932056625"><i class="fab fa-itunes"></i></a>
                </div>
        </div>
        
        <!--Stopka-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; Matt Krupa 2020-2024</div></footer>
        <!--Javascirpt Bootstrapa-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!--Mój Javascript-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>