{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Matt's first music project.">
        <title>Covers, Vol. 2</title>
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <!--Czcionki-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!--CSS projektu-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    </head>
    <body id="page-top">

        <!-- Nawigacja-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <div class="language-selector ms-auto">
                    <img src="{% static 'images/uk.png' %}" alt="English" id="lang-en">
                    <img src="{% static 'images/pl.png' %}" alt="Polski" id="lang-pl">
                </div>
            </div>
        </nav>

        <!--Nagłówek-->
        <header class="covers2 masthead"><!--Tło z obrazkiem i gradientem-->
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center"> <!--Wyśrodkowanie-->
                    <div class="text-center"> <!--Tytułowy baner tytułowy-->
                        <h1 class="mx-auto my-0 text-uppercase">Covers, Vol. 2</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5" data-translate="covers2desc">Matt's biggest music project.</h2>
                    </div>
                </div>
            </div>
        </header>

        <!-- Rozwinięcie na temat albumu-->
        <section class="projects-section bg-black text-white text-left" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6"> <!-- Zmiana szerokości na 6/12 -->
                        <h2 class="text-white mb-4" data-translate="covers2title">Covers Volume 2 is my biggest project yet, which was in production for 3 years!</h2>
                        <p class="text-white-50" data-translate="covers21">   <!--Każdy wpis na temat piosenki z atrybuted data-translate do przetłumaczenia z pliku json-->     
                            It begins with song by 'The Lumineers' called 'Angela'. It was covered by me and my wife (then girlfriend) back in 2020/2021. It is made in acoustic version with Natalie on vocals and guitar, and me on bass and piano.
                        </p>
                        <p class="text-white-50" data-translate="covers22">
                            Second cover, released in summer 2021, of a song by 'Twenty One Pilots' called 'Chlorine'. It is inspired by theirs live version of the song only played on piano and drums. It is the only song I recorded in just one take.
                        </p>
                        <p class="text-white-50" data-translate="covers23">
                            The third cover, which was relesaed with the album in May 2024, of a song by 'The Massive Attack' called 'Teardrop', inspired by the version of 'Jose Gonzales'. I recorded it in december 2021, but Natt recorded her vocals in the end of 2023.
                        </p>
                        <p class="text-white-50" data-translate="covers24">
                            'Turning Page' by 'Sleeping at Last' is the 4th cover on the album. We recorded it together in just a half an hour, Natt on guitar and vocals, me on bass. We liked it so it was released soon after recording in summer 2022.
                        </p>
                        <p class="text-white-50" data-translate="covers25">
                            Here is a nostalgic one. It was Natalies idea to do the retake of our 'Satrun' cover by 'Sleeping at Last', which we released in 2020, but now with proper recording geer (not a lenovo laptop). When I was mixing it, I tried to keep the vibe for the first one. Here is a funny story as well: when I was sending it to streaming platforms I named it 'Satrun', not 'Saturn' lmao.
                        </p>
                        <p class="text-white-50" data-translate="covers26">
                            The next song, also by 'Sleeping at Last', called 'Light' is the most popular song on my YouTube channel (as of May 2024). It's a song I'm the most proud of. Natt did the vocals and guitar, and I did the rest giving all my heart and soul into it. We recorded it for someone we really love. 
                        </p>
                        <p class="text-white-50" data-translate="covers27">
                            'Love Can Heal' by Peter Gabriel. I was inspired to do it after Peters live show back in 2023, because I was so amazed by this song. Did my part in the end of 2023 and was trying to convince my wife to recording vocals, which she did just before releasing the album!
                        </p>
                        <p class="text-white-50" data-translate="covers28">
                            'When We Were Young' by Adele, which was recorded with a singer called Gabrielle Middleton. It was kind of commission from her to exchange subscribers on our YouTube channels. I got a green light to release it on this album. I wanted it here, because I made some effort recording my part. Check her channel!
                        </p>
                        <p class="text-white-50" data-translate="covers29">
                            'Nights In White Satin' by 'The Moody Blues' which I recorded in december 2020 (yes, when I was releasing Covers, Vol. 1) as a gift for Natt. We call the original song 'our song', so yeah... romantic stuff. She told me to include it on the album, as I didn't realy plan it.
                        </p>
                        <p class="text-white-50" data-translate="covers210">
                            'The Weirdest Year Of Your Life' by my BELOVED C418 (I LOVE YOU C418). I recorded it on the last day of 2022, because it was my favourite song back then. I really like my cover.
                        </p>
                        <p class="text-white-50" data-translate="covers211">
                            Now, the last 3 songs were included in album Minecraft Beta Remixes done by the Official C418 Community (which I'm a part of) and released in 2023! It was a collaboration to remix all Minecraft Beta and Aquatic tracks from C418. 'Blocks' is the first here I remixed. I tried to make it in more acoustic Matt vibe (guitar, bass and piano).
                        </p>
                        <p class="text-white-50" data-translate="covers212">
                            Second cover for Beta Remixes album and the 12th track on Covers, Vol. 2 is 'Concrete Halls', witch i did in 3/4 (I don't know why), with some addition of electric bass solo.
                        </p>
                        <p class="text-white-50" data-translate="covers213">
                            The third one: 'Axolotl' is the one I have put the most heart into! It's very vibey, in my style. Just listen to it it's awesome (a bit too quiet I think..).
                        </p>
                    </div>
                    <div class="col-lg-6"> <!-- Zmiana szerokości na 6/12 i iframe z muzyką z bandcamp-->
                        <iframe style="border: 0; width: 350px; height: 720px;" src="https://bandcamp.com/EmbeddedPlayer/album=2510384831/size=large/bgcol=333333/linkcol=9a64ff/transparent=true/"></iframe>                
                    </div>
                </div>
                <a class="btn btn-main" href="{% url 'home' %}" data-translate="backbtn">Go back to the front page</a> <!--Odnośnik do strony głównej-->
            </div>
        </section>


        <!--Socjale-->
        <div class="contact-section bg-black">
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="https://www.youtube.com/channel/UCGIB3mFHUD2Fh-MthueSbXQ"><i class="fab fa-youtube"></i></a>
                    <a class="mx-2" href="https://www.facebook.com/mattkrupamusic"><i class="fab fa-facebook-f"></i></a>
                    <a class="mx-2" href="https://mattkrupa.bandcamp.com/"><i class="fab fa-bandcamp"></i></a>
                    <a class="mx-2" href="https://open.spotify.com/artist/0hduI8doHSaCxLeb2s9t08?si=rYerSEUySua6srCSQNYbeA&nd=1&dlsi=7c1b7838f394433f"><i class="fab fa-spotify"></i></a>
                    <a class="mx-2" href="https://music.apple.com/gb/artist/matt-krupa/932056625"><i class="fab fa-itunes"></i></a>
                </div>
        </div>
        
        <!--Stopka-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; Matt Krupa 2020-2024</div></footer>
        <!--JS Bootsrapa-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!--Mój Javascript-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>